/* Estilos Generales */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(44, 44, 44);
}

#titulo {
    color: var(--diamond);
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

/* Variables Colores */

:root {
    --main: rgb(36, 43, 53);
    --white: rgb(255, 255, 255);
    --gray-black: rgb(36, 36, 36);
    --diamond: rgba(3, 216, 223, 0.904);
    --green: rgb(43, 255, 0);
    --secondary-text: rgb(148, 163, 181, 1)
}

/* Barra Navegación */

header {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    nav {
        width: 100%;
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 33%;
            font-family: 'Ubuntu', sans-serif;
            background-color: var(--gray-black);
            transition: color 0.3s ease;
        }
    }

    a:hover {
        color: var(--diamond);
        border: 2px solid var(--diamond);
    }
}

/* Inicio */

.inicio-me {
    display: flex;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;

    img {
        width: 110px;
        background-color: var(--diamond);
        border-radius: 200px;
    }

    .me-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;

        h1 {
            margin-bottom: 4px;
            color: white;
            font-size: 30px;
        }

        h3 {
            color: var(--secondary-text);
            font-size: 16px;
        }

        .contactos {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
    }
}

.inicio-about {
    font-family: 'Ubuntu', sans-serif;

    h1 {
        color: var(--diamond);
        margin-bottom: 10px;
        font-size: 20px;
    }

    p {
        color: var(--secondary-text);
        font-size: 16px;
    }
}

/* Habilidades */

.habilidades-content {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;

    #titulo {
        margin-bottom: 25px;
    }

    .habilidades {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 17px;
    }

    @media (max-width: 460px) {
        .habilidades {
            display: block;
        }
    }
}

/* Proyectos */

.proyectos-content {
    margin-top: 20px;

    #titulo {
        margin-bottom: 20px;
    }

    .proyectos {
        margin-top: 10px;
    }
}

/* Contacto*/

form {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;

    .nombre, .correo, .mensaje {
        margin-bottom: 10px;
    }

    h1 {
        color: white;
        margin-bottom: 5px;
        font-size: 17px;
    }

    input,
    textarea {
        background-color: var(--gray-black);
        border: none;
        font-size: 14px;
        padding: 7px;
        color: white;
        width: 100%;
        height: 40px;
        resize: none;
    }
    
    input:active {
        border: 2px solid var(--diamond);
    }

    .mensaje {
        textarea {
            height: 150px;
        }
    }

    .boton {
        display: flex;
        justify-content: center;
    }

    button {
        width: 120px;
        height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;
        background-color: var(--diamond);
        color: white;
        border: none;
        border-radius: 7px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px var(--diamond);
        cursor: pointer;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;

    h1 {
        font-size: 13px;
        font-family: 'Ubuntu', sans-serif;
        color: var(--secondary-text);
    }

    /* @media(max-width: 400px) {
        h1 {
            font-size: 12px;
        }
    } */
}