@import "tailwindcss";

:root {
  /* Colores - fondos */
  --page-background: #0a0a0f;
  --secondary-background: #111118;
  --terciary-backgound: #16161f;
  --alternative-background: #25252ca9;
  --main-border: #ffffff12;
  --secondary-border: #ffffff1f;
  /* Colores de texto */
  --main-text: #e8e8f0;
  --gray-text: #7a7a8c;
  /* Colores - acentos */
  --title: #6c8ef5;
  --red: #f87171;
  --green: #4ade80;
  /* Colores de tecnologias */
  --typescript-blue: #1a3744;
  --javascript-yellow: #2d2414;
  --react-blue: #1a2a36;
  --mongodb-green: #0f2517;
  --postgresql-blue: #1a2048;
  --tailwind-blue: #0f2228;
  --git-orange: #2a1010;
  --prisma-blue: #111a2a;
  --postman-orange: #2a1812;
}

@theme inline {
  --font-sans: var(--font-dmsans);
  --font-mono: var(--font-dmmono);
  --color-page-background: var(--page-background);
  --color-secondary-background: var(--secondary-background);
  --color-terciary-backgound: var(--terciary-backgound);
  --color-alternative-background: var(--alternative-background);
  --color-main-border: var(--main-border);
  --color-secondary-border: var(--secondary-border);
  --color-main-text: var(--main-text);
  --color-gray-text: var(--gray-text);
  --color-title: var(--title);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-typescript-blue: var(--typescript-blue);
  --color-javascript-yellow: var(--javascript-yellow);
  --color-react-blue: var(--react-blue);
  --color-mongodb-green: var(--mongodb-green);
  --color-postgresql-blue: var(--postgresql-blue);
  --color-tailwind-blue: var(--tailwind-blue);
  --color-git-orange: var(--git-orange);
  --color-prisma-blue: var(--prisma-blue);
  --color-postman-orange: var(--postman-orange);
}

body {
  background: var(--page-background);
}